@import "tailwindcss";

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* change color on hovering over button  */
button {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.03);
  background-color: #2563eb; /* nice blue */
  color: white;
}
